.home {
  height: 100vh;
  width: 100vw;
  /*background-image: url('../../assets/img/man-plank.png'); */
  background-color: #0b0f10;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.home-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  overflow: visible;
}

.home-text {
  flex: 1;
  color: white;
  max-width: 600px;
}

.home-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-text p {
  font-size: 1.2rem;
  color: #ccc;
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-width: 600px;
  overflow: visible;
}

.home-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 1rem;
}

@media (max-width: 1218px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    gap: 2rem;
    margin-top: 5rem;
  }

  .home-text {
    flex: unset;           /* 🔥 importante */
    height: auto;          /* 🔥 importante */
    margin-top: 2rem;      /* o el valor que quieras para bajarlo */
    margin-bottom: 0;
    text-align: center;
  }

  .home-image {
    width: 100%;
    max-width: 600px;
    min-height: 300px;
  }

  model-viewer {
    width: 100% !important;
    height: 400px !important;
  }
}
