.ejercicios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;
    background-color: #07181f;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.ejercicios-container h2 {
    margin-top: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.category-button {
    background-color: #112830;
    border-radius: 15px;
}

.menu img {
    width: 70px;
    padding: 0.5rem;
}


.ejercicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones-ejercicios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.boton-ejercicio {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #112830;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.boton-ejercicio:hover {
  background-color: #112830;
}

.contenido-ejercicio {
  margin-top: 20px;
  text-align: center;
  background-color: #112830;
  border-radius: 25px;
  margin: 1rem;
  border: 1px solid #112830;
  margin-top: 2rem;
}

.contenido-ejercicio p {
  margin-top: 1rem;
  border-radius: 25px;
  margin: 1rem;
  padding: 1rem;
}

.contenido-ejercicio p img {
  width: 25px;
}

.dificultad {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-content: center;
  align-self: flex-start;
}

.dificultad p {
  margin: 0 0 0 1rem;
  padding: 0.8rem;
  position: relative;
  background-color: #07181f;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.contenido-ejercicio h3 {
  margin-top: 1rem;
  font-weight: 800;
}

.content-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.muscle {
  position: relative;
  top: 0;
  right: 0;
  height: 150px;
}

.gif-ejercicio {
  max-width: 95%;
  height: auto;
  margin-top: 10px;
  border-radius: 25px;
}

.cerrar-ejercicio {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #07ccef;
  color: #1b1f0a;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

.cerrar-ejercicio:hover {
  background-color: #6eafb8;
}
